<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grocery List</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <main>
      <div class="app">
        <header>
          <h1>Grocery List</h1>
        </header>
        <form action="/" method="POST" id="new-item" autocomplete="off">
          <input
            type="text"
            placeholder="Enter an Item"
            id="new-item"
            name="listItem"
            required
            autofocus
          />
          <button id="create" type="submit">Add</button>
        </form>
        <ul id="list">
          <% for(let item of items) { %>
          <li>
            <div class="item">
              <button class="material-icons drag_indicator">
                drag_indicator
              </button>
              <input type="checkbox" />
              <input
                class="itemInput"
                type="text"
                value="<%= item.listItem %>"
                disabled
              />
              <div class="actions">
                <button class="material-icons remove-btn <%= item.id %>">
                  remove_circle
                </button>
              </div>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
    </main>

    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <!-- delete function -->
    <script src="delete.js"></script>
    <!-- behavior file -->
    <script src="./app.js"></script>
  </body>
</html>
